<div class="header-placeholder"></div>
<header class="header"> 
  <div class="inner clearfix">
    <button class="header__hamburger">☰</button>
    <div class="logo logo--header">
      <a href="/"><img class="logo__icon" src="img/sprites/svg/logo.svg" alt="" /></a>
    </div>
    <div class="header__info">
      <!-- <div class="header__top-line">
        
        
      </div> -->
      <!-- <div class="header__bottom-line">
        
      </div> -->
      <nav>
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link fwb phone" href="tel:+375333340046">+375 33 334-00-46</a>
          </li>
          <li class="header-nav__item">
            <a href="#who" class="header-nav__link">О нас</a>
          </li>
          <li class="header-nav__item">
            <a href="#gallery" class="header-nav__link">Галерея</a>
          </li>
          <li class="header-nav__item">
            <a href="#objects" class="header-nav__link">Объекты</a>
          </li>
          <li class="header-nav__item">
            <a href="#contacts" class="header-nav__link">Контакты</a>
          </li>
          <li class="header-nav__item">
            <a href="#!" class="btn btn--black btn--small header__try-btn">Пробное занятие</a>
          </li>
        </ul>
      </nav>
      
    </div>
    

  </div>
  <div class="mobile-menu">
    <button class="mobile-menu__close">×</button>
    <ul class="mobile-menu__ul">
      <li class="mobile-menu__li">
          <a href="#who" class="mobile-menu__link">О нас</a>
      </li>
      <li class="mobile-menu__li">
          <a href="#gallery" class="mobile-menu__link">Галерея</a>
      </li>
      <li class="mobile-menu__li">
          <a href="#objects" class="mobile-menu__link">Объекты</a>
      </li>
      <li class="mobile-menu__li">
          <a href="#contacts" class="mobile-menu__link">Контакты</a>
      </li>
      <li class="mobile-menu__li mt50">
          <a class="mobile-menu__link phone" href="tel:+375445157324">+375 44 515-73-24</a>
      </li>
      <li class="mobile-menu__li">
          <a href="#!" class="btn btn--white header__try-btn">Пробное занятие</a>
      </li>
    </ul>
  </div>
</header>
<div class="dn">
  
    <div class="try-popup mfp-with-anim">
      <p class="try-popup__title">Первое пробное занятие</p>
      <div class="form-line">
        <label class="try-popup__label" for="try-age">Выберите возраст ребенка:</label> <br />
        <select class="select" id="try-age">
          <option >4 - 5 лет</option>
          <option >6 -7 лет</option>
          <option >8 - 9 лет</option>
          <option ">10 -12 лет</option>
          <option ">13 - 15 лет</option>
        </select>
      </div>
      <div class="form-line">
        <label class="try-popup__label" for="try-type">Выберите вид борьбы:</label> <br />
        <select class="select" id="try-type">
          <option value="mma">ММА</option>
          <option value="karate">Карате</option>
          <option value="gym">Гимнастика</option>
        </select>
      </div>
      <div class="form-line">
        <label class="try-popup__label" for="try-address">Выберите удобный для Вас адрес занятий:</label> <br />
        <select class="select" id="try-address">
          <option >Долгобродская, 43</option>
          <option >СШ №219</option>
          <option >СШ №161</option>
          <option >СШ №199</option>
        </select>
      </div>
      <div class="form-line">
        <label class="try-popup__label" for="try-tel">Введите Ваш номер телефона:</label> <br />
        <input type="tel" id="try-tel" class="input" placeholder="+375 44 5157324" />
      </div>
      <div class="form-line">
        <button class="btn btn--orange-fill btn--block try-popup__submit">Записаться</button>
      </div>
    </div>
  
</div>
<a href="#wrapper" class="go-top">
  <!-- <img src="/img/arrow.svg" alt="" /> -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
  <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
  <g><path fill="#EFB944" d="M500,656.1l-251-251l40.8-40.8L500,574.5l210.2-210.2l40.8,40.8L500,656.1L500,656.1z M10,500C10,229.8,229.8,10,500,10c270.2,0,490,219.8,490,490c0,270.2-219.8,490-490,490C229.8,990,10,770.2,10,500L10,500z M67.6,500c0,238.4,193.9,432.4,432.4,432.4c238.4,0,432.4-193.9,432.4-432.4c0-238.4-193.9-432.4-432.4-432.4S67.6,261.6,67.6,500L67.6,500z"/></g>
  </svg>
</a>