<div class="objects">
  <ol class="ol objects__list">
    <li>
      Ул. Слободская, 169 (СШ №161)
      <small>(малый спортивный зал)</small>
      <br />
      <small>Рядом с метро (м.Малиновка)</small>
    </li>
    <li>
      Ул. Слободская, 99 (СШ №219)
      <small>(малый спортивный зал)</small>
      <br />
      <small>Рядом с метро (м.Малиновка)</small>
    </li>
    <li>
      Ул. Пимена Панченко, 32 (СШ №199)
      <small>(зал №2)</small>
    </li>
    <li>
      Ул. Щербакова, 23 (СШ №87)
      <small>(малый спортивный зал)</small>
      <br />
      <small>Рядом с метро (м.Тракторный завод)</small>
    </li>
    <li>
      Ул. Нёманская, 74 (д/с №370)
      <small>(малый спортивный зал)</small>
    </li>
    <li>
      г. Фаниполь, ул. Чапского, 15
      <small>(полностью специализированный зал)</small>
      <br>
      <small>цоколь-1-й этаж</small>
    </li>



  </ol>
  <!-- <div class="objects-list objects-list--mma">
    <p class="objects-list__title">
      <span>MMA</span>
    </p>
    <ul class="ul objects-list__ul">
      <li>Долгобродская, 43</li>
    </ul>
  </div> -->
  <div class="objects-lists">
    <div class="objects-list objects-list--karate">
      <p class="objects-list__title">
        <span>Карате</span>
      </p>
      <ul class="ul objects-list__ul">
        <li>СШ №161</li>
        <li>СШ №219</li>
        <li>СШ №199</li>
        <li>СШ №87</li>
        <li>Д/с №370</li>
        <li>г.Фаниполь (ул.Чапского, 15)</li>
      </ul>
    </div>
    <div class="objects-list objects-list--judo">
      <p class="objects-list__title">
        <span>Дзюдо</span>
      </p>
      <ul class="ul objects-list__ul">
        <li>СШ №161</li>
        <li>СШ №219</li>
        <li>СШ №87</li>
        <li>г.Фаниполь (ул.Чапского, 15)</li>
      </ul>
    </div>
  </div>
</div>
<div class="objectsMap">
  <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=OKJ7T_10Q0gsCZehxV702nDGlnTqHXHh&amp;width=100%&amp;height=707&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script> -->
  <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=CaNQEQc_GRGiUpaJq2PlmsEyMX-Tbjcz&amp;width=100%&amp;height=716&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script> -->
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AOKJ7T_10Q0gsCZehxV702nDGlnTqHXHh&amp;width=100%&amp;height=618&amp;lang=ru_RU&amp;scroll=true"></script>
</div>