<div class="objects">
  <ol class="ol objects__list">
    <li>
      Ул. Долгобродская, 43 <small>(cпециализированный зал для единоборств)</small>
      <br />
      <small>Рядом с метро (м.Тракторный завод), большая бесплатная парковка, 1-й этаж</small>
    </li>
    <li>
      Ул. Слободская, 99 (СШ №219) <small>(малый спортивный зал)</small>
      <br />
      <small>Рядом с метро (м.Малиновка)</small>
    </li>
    <li>
      Ул. Слободская, 169 (СШ №161) <small>(малый спортивный зал)</small>
      <br />
      <small>Рядом с метро (м.Малиновка)</small>
    </li>
    <li>
      Ул. Пимена Панченко, 32 (СШ №199) <small>(зал хореографии)</small>
    </li>
  </ol>
  <div class="objects-list objects-list--mma">
    <p class="objects-list__title"><span>MMA</span></p>
    <ul class="ul objects-list__ul">
      <li>Долгобродская, 43</li>
    </ul>
  </div>
  <div class="objects-list objects-list--karate">
    <p class="objects-list__title"><span>Карате</span></p>
    <ul class="ul objects-list__ul">
      <li>Долгобродская, 43</li>
      <li>СШ №219</li>
      <li>СШ №161</li>
      <li>СШ №199</li>
    </ul>
  </div>
  <div class="objects-list objects-list--gym">
    <p class="objects-list__title"><span>Гимнастика</span></p>
    <ul class="ul objects-list__ul">
      <li>СШ №219</li>
    </ul>
  </div>
</div>
<div class="objectsMap">
  <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=OKJ7T_10Q0gsCZehxV702nDGlnTqHXHh&amp;width=100%&amp;height=707&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script> -->
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=CaNQEQc_GRGiUpaJq2PlmsEyMX-Tbjcz&amp;width=100%&amp;height=716&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</div>