/*variables can be defined only in :root*/
:root {
  --color-orange: #FDC100;
  --color-orange-light: #FFED00;
  --color-orange-dark: #C90C0F;


  --xs-size:320px;
  --sm-size:768px;
  --md:1200px;
  --lg:1600px;
  
  /* by default we use min width */
  @custom-media --xs (min-width: 320px);
  @custom-media --sm (min-width: 768px);
  @custom-media --md (min-width: 1200px);
  @custom-media --lg (min-width: 1600px);
  
  /* but maybe we will need max width... */
  @custom-media --xs-m (max-width: 320px);
  @custom-media --sm-m (max-width: 768px);
  @custom-media --md-m (max-width: 1200px);
  @custom-media --lg-m (max-width: 1600px);
}