<div class="gallery" data-featherlight-gallery
  data-featherlight-filter="a">
  <div class="inner">
    <div class="gallery__item">
      <a href="img/gallery/1.jpg" class="gallery__image" style="background-image: url(img/gallery/1.jpg);"></a>
    </div>
    <div class="gallery__item">
      <a href="img/gallery/2.jpg" class="gallery__image" style="background-image: url(img/gallery/2.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/3.jpg" class="gallery__image" style="background-image: url(img/gallery/3.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/4.jpg" class="gallery__image" style="background-image: url(img/gallery/4.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/5.jpg" class="gallery__image" style="background-image: url(img/gallery/5.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/6.jpg" class="gallery__image" style="background-image: url(img/gallery/6.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/7.jpg" class="gallery__image" style="background-image: url(img/gallery/7.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/8.jpg" class="gallery__image" style="background-image: url(img/gallery/8.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/9.jpg" class="gallery__image" style="background-image: url(img/gallery/9.jpg);"></a>
    </div>
    <!-- <div class="gallery__item">
      <a href="img/gallery/10.jpg" class="gallery__image" style="background-image: url(img/gallery/10.jpg);"></a>
      
    </div> -->
    <div class="gallery__item">
      <a href="img/gallery/11.jpg" class="gallery__image" style="background-image: url(img/gallery/11.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/12.jpg" class="gallery__image" style="background-image: url(img/gallery/12.jpg);"></a>
      
    </div>
    <div class="gallery__item">
      <a href="img/gallery/13.jpg" class="gallery__image" style="background-image: url(img/gallery/13.jpg);"></a>
      
    </div>
    <p class="more-in-soc">В соцсетях больше!...</p>
  </div>
</div>