<div class="banner3">
  <div class="banner3__cols">
    <!-- <div class="banner3__col banner3__col--mma">
        <div class="banner3__inner-wrap">
          <div class="banner3__background"></div>
          <p class="banner3__title"><span>MMA</span></p>
          <div class="banner3__description">
            <div class="banner3__description-inner">
              ММА для детей – это, пожалуй, лучшее направление из всех видов единоборств и систем физического развития на сегодняшний день! <br />
              Включает в себя самые необходимые техники из карате, самбо, бокса и др. видов боевых искусств.
            </div>
          </div>
          <div class="banner3__footer">
            <a href="#mma" class="btn btn--orange-fill banner3__link" data-section="mma">Узнать больше</a>
          </div>
        </div>
    </div> -->
    <div class="banner3__col banner3__col--karate">
        <div class="banner3__inner-wrap">
          <div class="banner3__background"></div>
          <p class="banner3__title"><span>КАРАТЕ</span></p>
          <div class="banner3__description">
            <div class="banner3__description-inner">
              Карате – японское боевое искусство, система защиты и нападения. 
              Современное карате – это красивый и динамичный вид спорта, который прекрасно подходит мальчикам и девочкам. 
    
            </div>
          </div>
          <div class="banner3__footer">
            <a href="#karate" class="btn btn--orange-fill banner3__link" data-section="karate">Узнать больше</a>
          </div>
        </div>
    </div>
    <div class="banner3__col banner3__col--judo">
        <div class="banner3__inner-wrap">
          <div class="banner3__background"></div>
          <p class="banner3__title"><span>Дзюдо</span></p>
          <div class="banner3__description">
            <div class="banner3__description-inner">
              Дзюдо для детей – это, пожалуй, одно из лучших и наиболее
              эффективных направлений единоборств и систем физического развития.
              Мальчики и девочки изучают технику бросков, страховок при падении, а
              также необходимые элементы гимнастики и акробатики.
            </div>
          </div>
          <div class="banner3__footer">
            <a href="#judo" class="btn btn--orange-fill banner3__link" data-section="judo">Узнать больше</a>
          </div>
        </div>
    </div>
  </div>
</div>