<div class="contacts">
  <p class="contacts__title">Контакты</p>

  <div class="contacts__text">
    <b>Телефон:</b> <a href="tel:+375445157324">+375-44-515-73-24</a> <br />
    <span style="opacity:0;">Телефон:</span> <a href="tel:+375293271718">+375-29-327-17-18</a> <br />
    <b>Email:</b> <a href="mailto:lionsbel2016@gmail.com">lionsbel2016@gmail.com</a> <br />
    <b>Viber:</b> +375-44-515-73-24 <br />
    <ul class="social">
      <li class="social__item">
          <a href="https://vk.com/lionskarate" class="btn social__link">
            <svg class='icon social__icon'>
              <use xlink:href='img/icons.svg#vk'></use>
            </svg>
          </a>
      </li>
      <li class="social__item">
          <a href="https://www.facebook.com/groups/280012555679156/" class="btn social__link">
            <svg class='icon social__icon'>
              <use xlink:href='img/icons.svg#fb'></use>
            </svg>
          </a>
      </li>
      <li class="social__item">
          <a href="https://www.instagram.com/lions.minsk/" class="btn social__link">
            <svg class='icon social__icon'>
              <use xlink:href='img/icons.svg#in'></use>
            </svg>
          </a>
      </li>
    </ul>
  </div>
  <p class="contacts__title">Адрес</p>
  <div class="contacts__text">
    <b>Адрес:</b> г. Минск, ул. Долгобродская, 43, пом. 3, 1-й этаж <br />
    <b>Режим работы:</b> 9.00 – 18.00
  </div>
</div>